<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Automation/Framework/AbekaAutomationFW">
        <parameter name="browser" value="Chrome"></parameter>
        <parameter name= "platform" value="Windows 10"></parameter>
        <classes>
            <!--<class name="abekaUISuite.LoginTestSuite">
                <methods>
                    <include name="enrollmentPurchase"/>
                    <include name="validateDashBoardWidgets"/>
                    <include name="validateNewStudentCreation"/>
                </methods>
            </class>
            -->
            <class name="abekaUISuite.ParentTestCaseSuite">
                <methods>
                    <!--<include name="testValidateStudentAbleToWatchVideoStreaming"/>
                    <include name="testManageStudentInformationFromDashboard"/>-->
                    <include name="testModifyStudentAssessmentDetailsOnCalendar"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>