<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Smoke Suite test" parallel="methods" thread-count="1">
        <parameter name = "browser" value = "chrome"/>
        <parameter name = "platform" value = "Mac"/>
        <classes>
<!--            <class name="abekaUISuite.AccessibilityAndWidgetValidationTestSuite">-->
<!--&lt;!&ndash;                <methods>&ndash;&gt;-->
<!--&lt;!&ndash;                    <include name="testValidateGraduationPetitionFunctionality"></include>&ndash;&gt;-->
<!--&lt;!&ndash;                </methods>&ndash;&gt;-->
<!--            </class>-->
            <class name="abekaUISuite.ParentAndStudentSuiteTest">
                <methods>
<!--                    <include name="enrollmentPurchaseGradeOne"></include>-->
<!--                    <include name="validateAddNewStudentGradeOne"></include>-->
<!--                    <include name="enrollmentPurchaseGradeFour"></include>-->
<!--                    <include name="validateAddNewStudentGradeFour"></include>-->
<!--                    <include name="enrollmentPurchaseGradeNine"></include>-->
                    <include name="validateAddNewStudentGradeNine"></include>
<!--                        <include name="enrollmentPurchaseGradeTwelve"></include>-->
<!--                    <include name="validateAddNewStudentGradeTwe"></include>-->
<!--                    <include name="validateAddNewStudentGradeNine"></include>-->
<!--                    <include name="testModifyStudentAssessmentDetailsOnCalendarOfGradeNine"></include>-->
<!--                    <include name="testValidateStudentAbleToCompleteDigitalAssessmentSuccessfullyOfGradeNine"></include>-->
<!--                    <include name="enrollmentPurchaseGradeTwelve"></include>-->
<!--                    <include name="validateAddNewStudentGradeTwelve"></include>-->
<!--            <include name="testValidateGraduationPetitionFunctionality"></include>-->
<!--                    <include name="validateCourseBeginDateFieldGradeTwelve"></include>-->
<!--                    <include name="validatePreviewStudentVideoLessonsGradeNine"></include>-->
                </methods>
            </class>
        </classes>
    </test>
</suite>