<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <test verbose="2" preserve-order="true" name="Smoke Suite test">
        <parameter name = "browser" value = "chrome"/>
        <parameter name = "platform" value = "Mac"/>
        <classes>
            <class name="abekaUISuite.ParentTestCaseSuiteTest">
                <methods>
<!--                    <include name="testValidateStudentAssessmentDetailsOnCalendar"/>-->
<!--                    <include name="testValidateStudentDashboardData"/>-->
<!--                    <include name="testValidateStudentAbleToWatchVideoStreaming"/>-->
                    <include name="testValidateStudentAbleToCompleteDigitalAssessmentSuccessfully"/>
<!--                    <include name="testValidateStudentCalendarEvents"/>-->
<!--                    <include name="testManageStudentInformationFromDashboard"/>-->
<!--                    <include name="testModifyStudentAssessmentDetailsOnCalendar"/>-->
<!--                    <include name="testValidateParentDashboardAccessControl"/>-->
<!--                    <include name="testValidateStudentDashboardAccessControl"/>-->
                </methods>
            </class>
<!--            <class name="abekaUISuite.LoginTestSuiteTest">-->
<!--                <methods>-->
<!--                    <include name="validateNewStudentEnrollment"/>-->
<!--                </methods>-->
<!--            </class>-->
        </classes>
    </test>
</suite>